@font-face {
  font-family: "TTHoves-Black";
  font-display: swap;
  src: url("../fonts/TTHoves-Black.woff") format("woff"), url("../fonts/TTHoves-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-DemiBold";
  font-display: swap;
  src: url("../fonts/TTHoves-DemiBold.woff") format("woff"), url("../fonts/TTHoves-DemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-DemiBoldItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-DemiBoldItalic.woff") format("woff"), url("../fonts/TTHoves-DemiBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-ExtraBold";
  font-display: swap;
  src: url("../fonts/TTHoves-ExtraBold.woff") format("woff"), url("../fonts/TTHoves-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-ExtraBoldItalic.woff") format("woff"), url("../fonts/TTHoves-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-ExtraLight";
  font-display: swap;
  src: url("../fonts/TTHoves-ExtraLight.woff") format("woff"), url("../fonts/TTHoves-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-ExtraLightItalic.woff") format("woff"), url("../fonts/TTHoves-ExtraLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Hairline";
  font-display: swap;
  src: url("../fonts/TTHoves-Hairline.woff") format("woff"), url("../fonts/TTHoves-Hairline.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-HairlineItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-HairlineItalic.woff") format("woff"), url("../fonts/TTHoves-HairlineItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Italic";
  font-display: swap;
  src: url("../fonts/TTHoves-Italic.woff") format("woff"), url("../fonts/TTHoves-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Light";
  font-display: swap;
  src: url("../fonts/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-LightItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-LightItalic.woff") format("woff"), url("../fonts/TTHoves-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Medium";
  font-display: swap;
  src: url("../fonts/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-MediumItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-MediumItalic.woff") format("woff"), url("../fonts/TTHoves-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Regular";
  font-display: swap;
  src: url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Thin";
  font-display: swap;
  src: url("../fonts/TTHoves-Thin.woff") format("woff"), url("../fonts/TTHoves-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-ThinItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-ThinItalic.woff") format("woff"), url("../fonts/TTHoves-ThinItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-Bold";
  font-display: swap;
  src: url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-BoldItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-BoldItalic.woff") format("woff"), url("../fonts/TTHoves-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves-BlackItalic";
  font-display: swap;
  src: url("../fonts/TTHoves-BlackItalic.woff") format("woff"), url("../fonts/TTHoves-BlackItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TTHoves-Regular", sans-serif;
}

body {
  font-family: sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  padding: 2rem;
}

header #logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

header .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

header .search-form .searchInp {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #d1b4e7;
  outline: none;
}

header .search-form .searchInp:focus {
  border: 2px solid #c9a1e7;
}

header .search-form .submitBtn {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px;
  background-color: #d1b4e7;
  color: #fff;
  font-weight: 700;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  padding: 1rem 0;
}

.gallery-info a {
  color: grey;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 4rem 2rem;
  padding: 1rem 0rem;
  width: 90%;
  margin: auto;
}

.gallery .galleryImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-button {
  min-width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.more {
  padding: 0.5rem 2rem;
  color: #fff;
  border: none;
  font-size: 21px;
  line-height: 24px;
  cursor: pointer;
  background-color: #d1b4e7;
}

footer {
  margin-top: 50px;
}

.footer-block {
  width: 100%;
  padding: 50px;
  background-color: #d1b4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 21px;
  position: relative;
}

.footer-block a::before {
  content: "";
  display: block;
  width: 30px;
  color: #fff;
  position: absolute;
  left: -30px;
  height: 21px;
  background: url("../media/instagram-brands.svg");
  background-repeat: no-repeat;
}